<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Some fabulous cuisine</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <p><a href="/">Home Page</a></p>

<form method="POST" action="/search_item">
    <p>Our Menus for Today: 
        Price Range: 
        <input type="text" name="price_low" value="0"> - 
        <input type="text" name="price_high" value="100000">
        <select name = 'cuisine'>
            <option value="Authentic">Authentic</option>
            <option value="American Chinese">American Chinese</option>
        </select>
        <input type="submit" value="Search">
    </p>
</form>

</body>


</html>
