<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Order ID: {{order_id}}</h1>
  <!-- <div>{{data}}</div> -->

  <table>
    <thead>
        <tr>
            <th>item id</th>
            <th>item name</th>
            <th>item description</th>
        </tr>
    </thead>
    <tbody>
        {% for item_id, item_name,desci in data %}
        <tr>
            <td>{{ item_id }}</td>
            <td>{{ item_name }}</td>
            <td>{{ desci }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

  <p><a href="/">Home Page</a></p>

<form method="POST" action="/add_food">
    <p>Add Food 
        <select name="item_id" value="item1">
            {% for item in items %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        for Order     
        <select name="order_id" value="od1">
            {% for item in orders %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </p>
</form>

</body>


</html>
