<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table tbody tr:first-child {
			color: red;
		}
  </style>


<body>
  <h1>Staff List</h1>
  <!-- <div>{{data}}</div> -->

  <!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->
  <table>
    <thead>
        <tr>
            <th>Staff Name</th>
            <th>{{selected_date}} order amount</th>
        </tr>
    </thead>
    <tbody>
        {% for name, score in data %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="/">Home Page</a></p>


<form method="POST" action="/find_top_waiter">
    <label for="date">Select a date:</label>
        <input type="date" id="date" name="selected_date">
        <br>
        <input type="submit" value="Submit">
    </form>
</form>

</body>


</html>
