<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Customer List</h1>
  <!-- <div>{{data}}</div> -->

  <!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->
  <table>
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for id, name, email, phone, pid in data %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ email }}</td>
            <td>{{ phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="/">Home Page</a></p>



</body>


</html>
